<EditableTasks>
    <HeaderContent>
        <div class="card-header text-secondary">
            <h5 class="mb-0">
                Tasks got done<i class="fa fa-cubes right-icon"></i>
            </h5>
        </div>
    </HeaderContent>
    <BodyContent>
        <li class="list-group-item px-0" v-if="tasks">
            <button class="btn btn-link text-dark border-0 p-0">{{ task.title }}</button>
        </li>
    </BodyContent>
</EditableTasks>
<TaskPreview />