@rendermode InteractiveServer
<EditableTasks>
    <HeaderContent>
        <div class="card-header text-secondary">
            <h5 class="mb-0">
                Tasks got done<i class="fa fa-cubes right-icon"></i>
            </h5>
        </div>
    </HeaderContent>
    <BodyContent>
        @if (Tasks != null && Tasks.Count > 0)
        {
            foreach (var task in Tasks)
            {
                <li class="list-group-item px-0">
                    <button @onclick="(() => ShowPreview(task))" class="btn btn-link text-dark border-0 p-0">@task.Title</button>
                </li>
            }
        }
    </BodyContent>
</EditableTasks>
<TaskPreview Task="SelectedTask" />

@code {
    private TaskModel SelectedTask;

    [Parameter]
    public List<TaskModel> Tasks { get; set; }
    private void ShowPreview(TaskModel task) => SelectedTask = task;
}