<EditableTasks>
    <HeaderContent>
        <div class="card-header text-success">
            <h5 class="mb-0">
                Tasks in progress
                <i class="fa fa-hourglass right-icon" aria-hidden="true"></i>
            </h5>
        </div>
    </HeaderContent>
    <BodyContent>
        <li class="list-group-item px-0">
            <NavLink class="task-link">{{ task.title }}</NavLink>
        </li>
    </BodyContent>
</EditableTasks>