<EditableTasks>
    <HeaderContent>
        <div class="card-header text-success">
            <h5 class="mb-0">
                Tasks in progress
                <i class="fa fa-hourglass right-icon" aria-hidden="true"></i>
            </h5>
        </div>
    </HeaderContent>
    <BodyContent>
        @if (Tasks != null && Tasks.Count > 0)
        {
            foreach (var task in Tasks)
            {
                <li class="list-group-item px-0">
                    <NavLink href="@($"/dashboard/task/{task.Id}")" class="task-link">@task.Title</NavLink>
                </li>
            }
        }
    </BodyContent>
</EditableTasks>

@code {
    [Parameter]
    public List<SimpleTask> Tasks { get; set; }
}