<EditableTasks>
    <HeaderContent>
        <div class="card-header text-primary">
            <h5 class="mb-0">
                New Tasks<i class="fa fa-thumb-tack right-icon"></i>
            </h5>
        </div>
    </HeaderContent>
    <BodyContent>
        @if (Tasks != null && Tasks.Count > 0)
        {
            foreach (var task in Tasks)
            {
                <li class="list-group-item px-0">
                    <NavLink href="@($"/dashboard/task/{task.Id}")" class="task-link">@task.Title</NavLink>
                </li>
            }
        }
    </BodyContent>
    <FooterContent>
        <li class="list-group-item px-0">
            <NavLink href="/dashboard/task/0" class="btn btn-sm btn-primary">
                <i class="fa fa-tasks"></i> Add
            </NavLink>
        </li>
    </FooterContent>
</EditableTasks>

@code {
    [Parameter]
    public List<SimpleTask> Tasks {get;set;}
}