<div class="card card-custom mb-4">
    <form>
        <div class="card-header text-center">
            <input type="text" class="form-control" id="name" name="name" maxlength="200" required />
        </div>
        <div class="card-body text-center">
            <p class="my-0">
                <img src="/img/user-icon.jpg" width="200" alt="" />
            </p>
            <input type="text" class="form-control mt-2" id="title" name="title" maxlength="100" required />
            <p class="mb-1">&nbsp;</p>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="fa fa-plus"></i>
                Create</button>
        </div>
    </form>
</div>