<div class="card card-custom mb-4">
    <form>
        <div class="card-header text-center">
            <h6 class="my-2" v-if="!isEditing">
                <i class="fa fa-user"></i> {{formData.fullName}}
            </h6>
            <input type="text" class="form-control" name="name" maxlength="200" v-if="isEditing" required />
        </div>
        <div class="card-body text-center">
            <p class="my-0">
                <img src="/img/user-icon.jpg" width="200" alt="" />
            </p>
            <p>{{formData.title}}</p>
            <input type="text" class="form-control mt-2" name="title" maxlength="100" required />
            <p class="mt-3 mb-2">
                <NavLink class="btn btn-sm btn-custom">
                    <i class="fa fa-calendar-check-o"></i> Schedules
                </NavLink>
            </p>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-sm btn-outline-success">
                <i class="fa fa-save"></i> Update
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-ban"></i> Cancel
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-pencil"></i> Edit
            </button>
            <button type="button" class="btn btn-sm btn-danger">
                <i class="fa fa-times"></i> Remove
            </button>
        </div>
    </form>
</div>