@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<div class="row">
    <div class="col-md-4">
        <NewTasks />
    </div>
    <div class="col-md-4">
        <InprogressTasks />
    </div>
    <div class="col-md-4">
        <CompletedTasks />
    </div>
</div>