.navbar {
    padding: 0;
    margin-bottom: 0;
}
.navbar-nav a.active {
    background-color: #04AA6D;
    color: #fff !important;
}
.navbar-nav a {
    font-weight:500;
}
.right-icon {
    float: right;
    margin-top: 2px;
}
.btn-custom {
    color: #fff;
    background-color: #3289C8;
}
.btn-custom:hover {
    color: #fff;
    background-color: #266999;
}
.card-custom {
    border-color: #3289C8;
}
.card-custom .card-header {
    color: #fff;
    background-color: #3289C8;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}

.btn-link {
  text-decoration: none;
}

.hidden {
    display: none;
}

.navbar-brand {
    margin-right: 8px;
}

.card-footer .btn {
    margin-left: 2px;
    margin-right: 2px;
}

.button-group {
    margin-bottom: 8px;
}
.button-group .btn {
    margin-right: 4px;
}

.table {
    border-left: solid 1px #dfe4e8;
    border-top: solid 1px #dfe4e8;
    border-right: solid 1px #dfe4e8;
}
.table .btn {
    margin: 0 4px 0 4px;
}

.btn-right {
    margin-left: 4px;
    float: right;
}
.spacer {
    display: inline-block;
    margin: 4px;
}
.nav-tabs .nav-link.active {
    background-color: #F8F9FA;
    border-bottom-color: #F8F9FA;
}
.tab-content {
    border-left: solid 1px #dee2e6;
    border-right: solid 1px #dee2e6;
    border-bottom: solid 1px #dee2e6;
}
.tab-content h6 {
    margin-top: 6px;
    padding: 3px 6px;
    background-color: #d1d4d6;
    border-radius: 3px;
}
input[type='text'], textarea {
    border-left-width: 3px;
}

.login-nav-item, .user-dropdown {
    margin-right: 4px;
}

.user-dropdown .btn-primary.dropdown-toggle {
    color: #0a58ca;
    background-color: inherit;
    border-width: 0;
}